.contactbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: #333;
    color: #a9a9a9;
}

.contacts {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 14px;
    line-height: 1.5;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: default;
    transition: color 0.3s ease;
}

.contact:hover {
    color: #fff;
}
