@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px 150px;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    line-height: 1.2;
}

.panel {
    position: relative;
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 25px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carSearch {
    grid-area: 2 / 1 / 2 / 3;
    position: relative;
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: 25px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    gap: 20px;
}

.h1 {
    background-color: transparent;
    position: relative;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.h2 {
    background-color: transparent;
    position: relative;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.p {
    display: flex;
    position: relative;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.btn {
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: #ff6961;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    gap: 10px;
    transition-duration: 0.5s;
    font-weight: 500;
}

.btn:hover {
    background-color: #ff8c7f;
}

.car {
    position: absolute;
    /* z-index: 0; */
    width: 80%;
    bottom: 0;
    right: 0;
}

.repair {
    position: absolute;
    /* z-index: 0; */
    width: 90%;
    bottom: 0;
    right: 0;
}

.carSearchh1 {
    font-size: 18px;
    font-weight: 600;
}

.carSearchh2 {
    font-size: 14px;
    font-weight: 600;
}
